/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */

$color-text: #666;
$color-heading: #333;


/* Font Stacks */

$font-text: "Gotham SSm A", "Gotham SSm B", helvetica, san-serif;

$font-heading: "Gotham Narrow SSm A", "Gotham Narrow SSm B", helvetica, san-serif;